{{!-- Menu page --}}
{{#if @blog.navigation}}
<nav id="menu-mobile" class="menu-mobile hide-after-lg">
	<ul class="menu-mobile-wrap u-unstyled">
		{{navigation}}
	</ul>
</nav>
{{/if}}

<footer class="footer">
	<div class="footer-wrap">
		<div class="row">
			<div class="col s12 m6 copy"><span>CC-BY - {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> </span></div>
			<div class="col s12 m6 by">
			</div>
		</div>
	</div>
</footer>
