{{!-- Add layout --}}
{{!< default}}
<section id="cover" class="cover cover-normal vertiacal-aling ">
    {{#if @blog.cover}}<div class="background" style="background-image: url({{@blog.cover}})"></div>{{/if}}
    <div class="vertiacal-aling-wrap">
        <img class="logo-index hasi-logo" src="./assets/img/logo_variant_bold_cropped_inverted_medium.png" ></img>
    </div>
</section>
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}
